html{
    font-size: 62.5%;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    margin: 0;
}

body{
    margin: 0;
}

img{
    width: 100%;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrap{
    display: flex;
}

.wrapper{
    display: grid;
}

.sp{
    display: none;
}

.circle{
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.navbar{
    z-index: 9999999;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0px 5px 5px #00000029;
    border-radius: 0 0 20px 20px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
}

.navbar .wrap{
    justify-content: space-between;
}

.navbar span{
    display: block;
}

.navbar a{
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

.navbar a span{
    font-size: 1.2rem;
    font-weight: bold;
}

.bar{
    margin: 15px 20px;
    border: solid #808080;
    border-width: 0 1.5px 0 0;
}

.navbar button{
    border-radius: 50vh;
    height: 60%;
    background-color: #fff;
    margin: auto 5px;
    border: none;
    box-shadow: 0px 5px 5px #00000029;
}

.contact{
    transform: scale(0.75);
    padding: 0 20px;
}

.circlebutton{
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.circlebutton.big{
    height: 80%;
}

.panel1{
    padding-top: 100px;
    border-radius: 0 0 0 10vw;
    box-shadow: 0px 5px 5px #00000029;
    background-color: #fff;
}

.panel1 .circles{
    padding: 80px 0 30px;
}

.circles h1{
    padding-left: 50px;
}

.panel1 .circle{
    margin: 0;
    position: absolute;
}

.circle.pink{
    top: 30px;
    width: 90px;
    background-color: #FFE3F9;
}

.circle.grey{
    top: 30px;
    left: 65px;
    width: 50px;
    background-color: #808080;
}

.panel1 h1{
    color: #BC7F9A;
    position: relative;
    z-index: 999;
}

.flex-item{
    margin: 20px;
    flex: 1;
}

figcaption{
    text-align: center;
}

.wrapper2{
    place-items: center;
}

.box{
    padding: 50px 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #00000029;
}

.panel2{
    height: 500px;
    position: relative;
    margin-top: -100px;
    padding-top: 100px;
    border-radius: 0 0 10vw 0;
    background-color: #fff;
    z-index: -99;
}

.panel3{
    color: #fff;
    position: relative;
    margin-top: -100px;
    padding:   120px 0 0;
    background-color: #808080;
    z-index: -999;
}

.panel3 .circle{
    margin: 100px auto 200px;
    position: relative;
	width: 50%;
    border: solid 1px #fff;
}

.circle1,.circle2,.circle3{
    width: 50%; 
    aspect-ratio: 1/1;
    position: absolute;
    left: 25%;
    top: 25%;
    border: solid 0.5px #fff;
    border-radius: 50%;
    background-color: rgba(128,128,128,0.75);
}

.circle1{
    transform: rotate(20deg) translateY(-125%) rotate(-20deg);
}

.circle2{
    transform: rotate(50deg) translateX(125%) rotate(-50deg);
}

.circle3{
    transform: rotate(80deg) translateY(125%) rotate(-80deg);
}

.circle p{
    white-space: nowrap;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.line{
    transform-origin: left;
    position: absolute;
    border-top: solid 1px #fff;
}

.line1{
    width: 50%;
    top: 80%;
    left: 80%;
    transform: rotate(45deg);
}

.line2{
    width: 50%;
    left: 20%;
    top: 80%;
    transform: rotate(135deg);

}

.line3{
    width: 50%;
    top: 20%;
    left: 20%;
    transform: rotate(270deg);
}

.circletext{
    padding: 10px 0;
    margin: 0;
    background-color: rgba(128,128,128,0.8);
    position: absolute;
    white-space: nowrap;
}

.text1{
    left: 100%;
    top: 120%;
}

.text2{
    top: 120%;
    left: -15%;
    transform: translateX(-50%);
}

.text3{
    left: 20%;
    top: -30%;
    transform: translate(-20%, -100%);
}

.circles{
    position: relative;
    padding: 100px 0 300px;
}

._circle{
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 1px #fff;
    width: 22%;
    transform: translateX(-50%);
    text-align: center;
}

._circle span{
    transform: scale(0.8);
    display: block;
}

._circle p{
    white-space: nowrap;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.circleA{
    left: 10%;
}

.circleB{
    left: 30%;
}

.circleC{
    left: 50%;
}

.circleD{
    left: 70%;
}

.circleE{
    left: 90%;
}

.wrapper1{
    grid-template-columns: max-content 1fr;
}

.item1{
    margin-right: 20px;
    grid-row: 1;
    grid-column: 1;
}

.item2{
    margin-right: 20px;
    grid-row: 2;
    grid-column: 1;
}

.item3{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}


@media screen and (min-width: 960px) {
    
    .circle{
        margin: 200px auto 350px;
    }

    .item3{
        margin: auto 0;
    }

}

@media screen and (max-width: 480px) {
    .pc{
        display: none;
    }

    .sp{
        display: block;
    }

    .item3{
        grid-row: 3;
        grid-column: 1;    
    }

    .wrapper1{
        grid-template-columns: none;
    }

    .spcolumn{
        flex-flow: column;
        align-items: center;

    }


}